<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ula.mybatisdemo.mapper.GameInfoMapper">

    <resultMap id="GameInfo" type="com.ula.mybatisdemo.bean.GameInfo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="deleted" jdbcType="INTEGER" property="deleted" />
        <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
        <result column="game_type" jdbcType="INTEGER" property="gameType" />
        <result column="game_name" jdbcType="VARCHAR" property="gameName" />
    </resultMap>

    <select id="selectById" resultMap="GameInfo" parameterType="Integer">
        select * from game_info where id = #{id}
    </select>

    <insert id="insertGame" parameterType="GameInfo" useGeneratedKeys="true" keyProperty="id">
        insert into game_info (deleted,game_type,game_name, create_date) values (#{deleted},#{gameType},#{gameName},#{createDate})
    </insert>

    <update id="updateById">
        update game_info set game_type=#{gameType} where id=#{id}
    </update>

</mapper>